<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js" integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://hsiangfeng.github.io/vuejs-tableSort/css/bootstrap.css">
    <link rel="stylesheet" href="https://hsiangfeng.github.io/vuejs-tableSort/css/all.css">

    <body>
        <div class="col-md-9 post">
            <!-- 練習開始 -->
            <h1 class="mt-0 text-muted">作業練習：表格排序</h1>
            <h3>模板練習作業：透過點擊 th 方式，反轉表格的排序</h3>
            <p>僅需要排序價格、到期日。</p>
            <div class="alert alert-secondary">
                <p>提示：</p>
                <ol class="mb-0">
                    <li>將資料排序改為使用 computed 輸出</li>
                    <li>使用迴圈的方式，重新依據點擊排序內容，並透過 computed 輸出</li>
                    <li>反轉時，th 指標需給與正確方向</li>
                    <li>加分題：第二次點擊時再次反轉資料</li>
                </ol>
            </div>

            <div id="app">
                <table class="table">
                    <thead>
                        <tr>
                            <th>品名</th>
                            <th class="click" v-on:click="sortName = 'price', isRotateValue = !isRotateValue">價格
                                <!-- isReverse 為反轉 className -->
                                <span class="icon" v-bind:class="{'inverse':isRotateValue}">
                                    <i class=" fas fa-angle-up text-success"></i>
                                </span>
                            </th>
                            <th class="click" v-on:click="sortName = 'expiryDate',isRotateValue = !isRotateValue">到期日
                            </th>
                        </tr>
                        <tr v-for="item in sortData">
                            <td>{{ item.name }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.expiryDate }}</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <script src="https://hsiangfeng.github.io/vuejs-tableSort/js/vue.js"></script>
            <script src="https://hsiangfeng.github.io/vuejs-tableSort/js/all.js"></script>
    </body>

</html>